<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Demographic</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
<div class="w3-container" align="center">

    <h3>Demographic</h3>
    <a th:href="@{/addnew}">
    <button class="w3-bar-item w3-button w3-teal" style="width:33.3%">
        Add Record
    </button>
    </a>
    <a th:href="@{/viewall}">
    <button class="w3-bar-item w3-button w3-teal" style="width:33.3%">
       View All
    </button>
    </a>

</div>
</body>
</html>
